body {
    margin: 0;
}

.colorBg {
    background-color: rgb(13, 53, 54);
    color: white;
}

.btn {
    background-color: none;
    color: white;
}

.btn:hover {
    cursor: pointer;
    color: rgb(166, 159, 159);

}

.font-border {
    border-left: 1px solid #fff;
}

.shoppingCart {
    color: #fff;
}

