.bgImg{
    background-image: url(../../../../images/background.jpg);
    /* top: 50%;
    bottom: 50%; */
   padding: 50px 80px;
}
.bgImg h1{
    color:#005252;
    font-size: 62px;
    font-weight: 800;
}
.txt{
    color: #005252;
    font-weight: 300;
}
.banner-text{
    font-weight: 800;
    color: #005252;
}